<footer>

    <p>KNOW MORE ABOUT US</p>
    
    <div>
        <a href="#"> Team </a>
        <a href="#"> About </a>
        <a href="#"> About Us </a>
        <a href="#"> FAQ </a>
        <a href="#"> Privacy </a>
        <a href="#"> Terms and Conditions </a>
        <a href="#"> Buyer </a>

    </div>
    <div>
        <a href="#"><span class="../assets/icon-facebook"></span></a>
        <a href="#"><span class="../assets/icon-linkedin"></span></a>
        <a href="#"><span class="../assets/icon-youtube"></span></a>
        <a href="#"><span class="../assets/icon-instagram"></span></a>
    </div>
</footer>